section.content{
  padding: 0 !important;
}

.col-sm-4{
  padding: 0 !important;
}

.col-sm-8{
  padding: 0 !important;
}

.box-body{
  padding: 0 !important;
}

.row{
  position: relative;
}

.box{
  margin: 0 !important;
}