section.content{
  padding: 0 !important;
}
.small-box{
  background:#3c8dbc !important;
}

#about-box{
  padding: 20px max(20px, 15vw) 0 max(20px, 15vw) !important;
  text-align: center;
  overflow: auto;
}

.box{
  box-shadow: 0 0 0 0 !important;
  border-top: 0 !important;
}

.col-sm-4{
  padding: 0 !important;
}

.col-sm-8{
  padding: 0 !important;
}

.box-body{
  padding: 0 !important;
}

.row{
  position: relative;
}

.box{
  margin: 0 !important;
}